<a href="https://colab.research.google.com/github/Agankova/Python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head() |

In [1]:
import pandas as pd

In [11]:
import random

In [14]:
df = pd.DataFrame({'A': ['a', 'b', 'a','c'], 'B': ['a', 'b', 'a','c']})

In [15]:
df['B_enc'] = pd.factorize(df['B'])[0]

In [17]:
df.head()

   A  B  B_enc
0  a  a      0
1  b  b      1
2  a  a      0
3  c  c      2